<a href="https://colab.research.google.com/github/cozy-hn/Dacon-Basic-car-price-regression/blob/main/%EB%8D%B0%EC%9D%B4%EC%BD%98_Basic_%EC%9E%90%EB%8F%99%EC%B0%A8_%EA%B0%80%EA%B2%A9_%EC%98%88%EC%B8%A1_AI_%EA%B2%BD%EC%A7%84%EB%8C%80%ED%9A%8C_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!pip install autogluon

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting autogluon
  Downloading autogluon-0.8.0-py3-none-any.whl (9.7 kB)
Collecting autogluon.core[all]==0.8.0 (from autogluon)
  Downloading autogluon.core-0.8.0-py3-none-any.whl (224 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 224.2/224.2 kB 5.0 MB/s eta 0:00:00
Collecting autogluon.features==0.8.0 (from autogluon)
  Downloading autogluon.features-0.8.0-py3-none-any.whl (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.9/61.9 kB 6.3 MB/s eta 0:00:00
Collecting autogluon.tabular[all]==0.8.0 (from autogluon)
  Downloading autogluon.tabular-0.8.0-py3-none-any.whl (285 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 285.6/285.6 kB 13.3 MB/s eta 0:00:00
Collecting autogluon.multimodal==0.8.0 (from autogluon)
  Downloading autogluon.multimodal-0.8.0-py3-none-any.whl (372 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 372.2/372.2 kB 33.6 MB/s eta 0:00:00
Collecting autogluon.timeseries[all]==0.8.0 (from autogluon)
  Downloading autogluon.timeseries-0.8.0-py3-none-any.whl (116 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 116.2/116.2 kB 12.5 MB/s eta 0:00:00
Requirement already satisfied: numpy<1.27,>=1.21 in /usr/local/lib/python3.10/dist-packages (from autogluon.core[all]==0.8.0->autogluon) (1.22.4)
Requirement already satisfied: scipy<1.12,>=1.5.4 in /usr/local/lib/python3.10/dist-packages (from autogluon.core[all]==0.8.0->autogluon) (1.10.1)
Requirement already satisfied: scikit-learn<1.3,>=1.0 in /usr/local/lib/python3.10/dist-packages (from autogluon.core[all]==0.8.0->autogluon) (1.2.2)
Requirement already satisfied: networkx<4,>=3.0 in /usr/local/lib/python3.10/dist-packages (from autogluon.core[all]==0.8.0->autogluon) (3.1)
Requirement already satisfied: pandas<1.6,>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from autogluon.core[all]==0.8.0->autogluon) (1.5.3)
Requirement already satisfied: tqdm<5,>=4.38 in /usr/local/lib/python3.10/dist-packages (from autogluon.core[all]==0.8.0->autogluon) (4.65.0)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from autogluon.core[all]==0.8.0->autogluon) (2.27.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from autogluon.core[all]==0.8.0->autogluon) (3.7.1)
Collecting boto3<2,>=1.10 (from autogluon.core[all]==0.8.0->autogluon)
  Downloading boto3-1.26.155-py3-none-any.whl (135 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 135.6/135.6 kB 8.3 MB/s eta 0:00:00
Collecting autogluon.common==0.8.0 (from autogluon.core[all]==0.8.0->autogluon)
  Downloading autogluon.common-0.8.0-py3-none-any.whl (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.1/61.1 kB 7.0 MB/s eta 0:00:00
Requirement already satisfied: hyperopt<0.2.8,>=0.2.7 in /usr/local/lib/python3.10/dist-packages (from autogluon.core[all]==0.8.0->autogluon) (0.2.7)
Collecting ray[tune]<2.4,>=2.3 (from autogluon.core[all]==0.8.0->autogluon)
  Downloading ray-2.3.1-cp310-cp310-manylinux2014_x86_64.whl (58.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.5/58.5 MB 12.2 MB/s eta 0:00:00
Collecting Pillow<9.6,>=9.3 (from autogluon.multimodal==0.8.0->autogluon)
  Downloading Pillow-9.5.0-cp310-cp310-manylinux_2_28_x86_64.whl (3.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.4/3.4 MB 70.0 MB/s eta 0:00:00
Collecting jsonschema<4.18,>=4.14 (from autogluon.multimodal==0.8.0->autogluon)
  Downloading jsonschema-4.17.3-py3-none-any.whl (90 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 90.4/90.4 kB 11.3 MB/s eta 0:00:00
Collecting seqeval<1.3.0,>=1.2.2 (from autogluon.multimodal==0.8.0->autogluon)
  Downloading seqeval-1.2.2.tar.gz (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.6/43.6 kB 3.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting evaluate<0.4.0,>=0.2.2 (from autogluon.multimodal==0.8.0->autogluon)
  Downloading evaluate-0.3.0-py3-none-any.whl (72 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 72.9/72.9 kB 8.7 MB/s eta 0:00:00
Collecting accelerate<0.17,>=0.9 (from autogluon.multimodal==0.8.0->autogluon)
  Downloading accelerate-0.16.0-py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 kB 18.8 MB/s eta 0:00:00
Collecting timm<0.10.0,>=0.9.2 (from autogluon.multimodal==0.8.0->autogluon)
  Downloading timm-0.9.2-py3-none-any.whl (2.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.2/2.2 MB 67.2 MB/s eta 0:00:00
Collecting torch<1.14,>=1.9 (from autogluon.multimodal==0.8.0->autogluon)
  Downloading torch-1.13.1-cp310-cp310-manylinux1_x86_64.whl (887.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 887.5/887.5 MB 1.5 MB/s eta 0:00:00
Collecting torchvision<0.15.0 (from autogluon.multimodal==0.8.0->autogluon)
  Downloading torchvision-0.14.1-cp310-cp310-manylinux1_x86_64.whl (24.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 24.2/24.2 MB 60.5 MB/s eta 0:00:00
Collecting fairscale<0.4.14,>=0.4.5 (from autogluon.multimodal==0.8.0->autogluon)
  Downloading fairscale-0.4.13.tar.gz (266 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 266.3/266.3 kB 25.9 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: scikit-image<0.20.0,>=0.19.1 in /usr/local/lib/python3.10/dist-packages (from autogluon.multimodal==0.8.0->autogluon) (0.19.3)
Collecting pytorch-lightning<1.10.0,>=1.9.0 (from autogluon.multimodal==0.8.0->autogluon)
  Downloading pytorch_lightning-1.9.5-py3-none-any.whl (829 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 829.5/829.5 kB 53.1 MB/s eta 0:00:00
Requirement already satisfied: text-unidecode<1.4,>=1.3 in /usr/local/lib/python3.10/dist-packages (from autogluon.multimodal==0.8.0->autogluon) (1.3)
Collecting torchmetrics<0.12.0,>=0.11.0 (from autogluon.multimodal==0.8.0->autogluon)
  Downloading torchmetrics-0.11.4-py3-none-any.whl (519 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 519.2/519.2 kB 29.0 MB/s eta 0:00:00
Collecting transformers<4.27.0,>=4.23.0 (from autogluon.multimodal==0.8.0->autogluon)
  Downloading transformers-4.26.1-py3-none-any.whl (6.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.3/6.3 MB 92.9 MB/s eta 0:00:00
Collecting nptyping<2.5.0,>=1.4.4 (from autogluon.multimodal==0.8.0->autogluon)
  Downloading nptyping-2.4.1-py3-none-any.whl (36 kB)
Collecting omegaconf<2.3.0,>=2.1.1 (from autogluon.multimodal==0.8.0->autogluon)
  Downloading omegaconf-2.2.3-py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.3/79.3 kB 9.5 MB/s eta 0:00:00
Collecting sentencepiece<0.2.0,>=0.1.95 (from autogluon.multimodal==0.8.0->autogluon)
  Downloading sentencepiece-0.1.99-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 77.1 MB/s eta 0:00:00
Collecting pytorch-metric-learning<2.0,>=1.3.0 (from autogluon.multimodal==0.8.0->autogluon)
  Downloading pytorch_metric_learning-1.7.3-py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 kB 14.8 MB/s eta 0:00:00
Collecting nlpaug<1.2.0,>=1.1.10 (from autogluon.multimodal==0.8.0->autogluon)
  Downloading nlpaug-1.1.11-py3-none-any.whl (410 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 410.5/410.5 kB 39.1 MB/s eta 0:00:00
Requirement already satisfied: nltk<4.0.0,>=3.4.5 in /usr/local/lib/python3.10/dist-packages (from autogluon.multimodal==0.8.0->autogluon) (3.8.1)
Collecting openmim<0.4.0,>=0.3.7 (from autogluon.multimodal==0.8.0->autogluon)
  Downloading openmim-0.3.7-py2.py3-none-any.whl (51 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 51.3/51.3 kB 6.4 MB/s eta 0:00:00
Requirement already satisfied: defusedxml<0.7.2,>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from autogluon.multimodal==0.8.0->autogluon) (0.7.1)
Requirement already satisfied: jinja2<3.2,>=3.0.3 in /usr/local/lib/python3.10/dist-packages (from autogluon.multimodal==0.8.0->autogluon) (3.1.2)
Requirement already satisfied: tensorboard<3,>=2.9 in /usr/local/lib/python3.10/dist-packages (from autogluon.multimodal==0.8.0->autogluon) (2.12.2)
Collecting pytesseract<0.3.11,>=0.3.9 (from autogluon.multimodal==0.8.0->autogluon)
  Downloading pytesseract-0.3.10-py3-none-any.whl (14 kB)
Collecting PyMuPDF<=1.21.1 (from autogluon.multimodal==0.8.0->autogluon)
  Downloading PyMuPDF-1.21.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (14.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.0/14.0 MB 85.1 MB/s eta 0:00:00
Requirement already satisfied: xgboost<1.8,>=1.6 in /usr/local/lib/python3.10/dist-packages (from autogluon.tabular[all]==0.8.0->autogluon) (1.7.5)
Requirement already satisfied: lightgbm<3.4,>=3.3 in /usr/local/lib/python3.10/dist-packages (from autogluon.tabular[all]==0.8.0->autogluon) (3.3.5)
Collecting catboost<1.3,>=1.1 (from autogluon.tabular[all]==0.8.0->autogluon)
  Downloading catboost-1.2-cp310-cp310-manylinux2014_x86_64.whl (98.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.6/98.6 MB 8.9 MB/s eta 0:00:00
Requirement already satisfied: fastai<2.8,>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from autogluon.tabular[all]==0.8.0->autogluon) (2.7.12)
Requirement already satisfied: joblib<2,>=1.1 in /usr/local/lib/python3.10/dist-packages (from autogluon.timeseries[all]==0.8.0->autogluon) (1.2.0)
Requirement already satisfied: statsmodels<0.15,>=0.13.0 in /usr/local/lib/python3.10/dist-packages (from autogluon.timeseries[all]==0.8.0->autogluon) (0.13.5)
Collecting gluonts<0.14,>=0.13.1 (from autogluon.timeseries[all]==0.8.0->autogluon)
  Downloading gluonts-0.13.2-py3-none-any.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 69.0 MB/s eta 0:00:00
Collecting statsforecast<1.5,>=1.4.0 (from autogluon.timeseries[all]==0.8.0->autogluon)
  Downloading statsforecast-1.4.0-py3-none-any.whl (91 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.0/92.0 kB 10.4 MB/s eta 0:00:00
Collecting mlforecast<0.7.4,>=0.7.0 (from autogluon.timeseries[all]==0.8.0->autogluon)
  Downloading mlforecast-0.7.3-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.5/43.5 kB 4.6 MB/s eta 0:00:00
Collecting ujson<6,>=5 (from autogluon.timeseries[all]==0.8.0->autogluon)
  Downloading ujson-5.8.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (53 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 53.9/53.9 kB 5.9 MB/s eta 0:00:00
Requirement already satisfied: psutil<6,>=5.7.3 in /usr/local/lib/python3.10/dist-packages (from autogluon.common==0.8.0->autogluon.core[all]==0.8.0->autogluon) (5.9.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from autogluon.common==0.8.0->autogluon.core[all]==0.8.0->autogluon) (67.7.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from accelerate<0.17,>=0.9->autogluon.multimodal==0.8.0->autogluon) (23.1)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from accelerate<0.17,>=0.9->autogluon.multimodal==0.8.0->autogluon) (6.0)
Collecting botocore<1.30.0,>=1.29.155 (from boto3<2,>=1.10->autogluon.core[all]==0.8.0->autogluon)
  Downloading botocore-1.29.155-py3-none-any.whl (10.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.9/10.9 MB 84.3 MB/s eta 0:00:00
Collecting jmespath<2.0.0,>=0.7.1 (from boto3<2,>=1.10->autogluon.core[all]==0.8.0->autogluon)
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Collecting s3transfer<0.7.0,>=0.6.0 (from boto3<2,>=1.10->autogluon.core[all]==0.8.0->autogluon)
  Downloading s3transfer-0.6.1-py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.8/79.8 kB 7.1 MB/s eta 0:00:00
Requirement already satisfied: graphviz in /usr/local/lib/python3.10/dist-packages (from catboost<1.3,>=1.1->autogluon.tabular[all]==0.8.0->autogluon) (0.20.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from catboost<1.3,>=1.1->autogluon.tabular[all]==0.8.0->autogluon) (5.13.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from catboost<1.3,>=1.1->autogluon.tabular[all]==0.8.0->autogluon) (1.16.0)
Collecting datasets>=2.0.0 (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.8.0->autogluon)
  Downloading datasets-2.13.0-py3-none-any.whl (485 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 485.6/485.6 kB 34.5 MB/s eta 0:00:00
Collecting dill (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.8.0->autogluon)
  Downloading dill-0.3.6-py3-none-any.whl (110 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 110.5/110.5 kB 10.3 MB/s eta 0:00:00
Collecting xxhash (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.8.0->autogluon)
  Downloading xxhash-3.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (212 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 212.5/212.5 kB 19.5 MB/s eta 0:00:00
Collecting multiprocess (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.8.0->autogluon)
  Downloading multiprocess-0.70.14-py310-none-any.whl (134 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 134.3/134.3 kB 14.7 MB/s eta 0:00:00
Requirement already satisfied: fsspec[http]>=2021.05.0 in /usr/local/lib/python3.10/dist-packages (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.8.0->autogluon) (2023.4.0)
Collecting huggingface-hub>=0.7.0 (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.8.0->autogluon)
  Downloading huggingface_hub-0.15.1-py3-none-any.whl (236 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 236.8/236.8 kB 21.6 MB/s eta 0:00:00
Collecting responses<0.19 (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.8.0->autogluon)
  Downloading responses-0.18.0-py3-none-any.whl (38 kB)
Requirement already satisfied: pip in /usr/local/lib/python3.10/dist-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==0.8.0->autogluon) (23.1.2)
Requirement already satisfied: fastdownload<2,>=0.0.5 in /usr/local/lib/python3.10/dist-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==0.8.0->autogluon) (0.0.7)
Requirement already satisfied: fastcore<1.6,>=1.5.29 in /usr/local/lib/python3.10/dist-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==0.8.0->autogluon) (1.5.29)
Requirement already satisfied: fastprogress>=0.2.4 in /usr/local/lib/python3.10/dist-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==0.8.0->autogluon) (1.0.3)
Requirement already satisfied: spacy<4 in /usr/local/lib/python3.10/dist-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==0.8.0->autogluon) (3.5.2)
Requirement already satisfied: pydantic~=1.7 in /usr/local/lib/python3.10/dist-packages (from gluonts<0.14,>=0.13.1->autogluon.timeseries[all]==0.8.0->autogluon) (1.10.7)
Requirement already satisfied: toolz~=0.10 in /usr/local/lib/python3.10/dist-packages (from gluonts<0.14,>=0.13.1->autogluon.timeseries[all]==0.8.0->autogluon) (0.12.0)
Requirement already satisfied: typing-extensions~=4.0 in /usr/local/lib/python3.10/dist-packages (from gluonts<0.14,>=0.13.1->autogluon.timeseries[all]==0.8.0->autogluon) (4.5.0)
Requirement already satisfied: future in /usr/local/lib/python3.10/dist-packages (from hyperopt<0.2.8,>=0.2.7->autogluon.core[all]==0.8.0->autogluon) (0.18.3)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.10/dist-packages (from hyperopt<0.2.8,>=0.2.7->autogluon.core[all]==0.8.0->autogluon) (2.2.1)
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (from hyperopt<0.2.8,>=0.2.7->autogluon.core[all]==0.8.0->autogluon) (0.10.9.7)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2<3.2,>=3.0.3->autogluon.multimodal==0.8.0->autogluon) (2.1.2)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema<4.18,>=4.14->autogluon.multimodal==0.8.0->autogluon) (23.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema<4.18,>=4.14->autogluon.multimodal==0.8.0->autogluon) (0.19.3)
Requirement already satisfied: wheel in /usr/local/lib/python3.10/dist-packages (from lightgbm<3.4,>=3.3->autogluon.tabular[all]==0.8.0->autogluon) (0.40.0)
Requirement already satisfied: numba in /usr/local/lib/python3.10/dist-packages (from mlforecast<0.7.4,>=0.7.0->autogluon.timeseries[all]==0.8.0->autogluon) (0.56.4)
Collecting window-ops (from mlforecast<0.7.4,>=0.7.0->autogluon.timeseries[all]==0.8.0->autogluon)
  Downloading window_ops-0.0.14-py3-none-any.whl (14 kB)
Requirement already satisfied: gdown>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from nlpaug<1.2.0,>=1.1.10->autogluon.multimodal==0.8.0->autogluon) (4.6.6)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk<4.0.0,>=3.4.5->autogluon.multimodal==0.8.0->autogluon) (8.1.3)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk<4.0.0,>=3.4.5->autogluon.multimodal==0.8.0->autogluon) (2022.10.31)
Collecting antlr4-python3-runtime==4.9.* (from omegaconf<2.3.0,>=2.1.1->autogluon.multimodal==0.8.0->autogluon)
  Downloading antlr4-python3-runtime-4.9.3.tar.gz (117 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 117.0/117.0 kB 10.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting colorama (from openmim<0.4.0,>=0.3.7->autogluon.multimodal==0.8.0->autogluon)
  Downloading colorama-0.4.6-py2.py3-none-any.whl (25 kB)
Collecting model-index (from openmim<0.4.0,>=0.3.7->autogluon.multimodal==0.8.0->autogluon)
  Downloading model_index-0.1.11-py3-none-any.whl (34 kB)
Requirement already satisfied: rich in /usr/local/lib/python3.10/dist-packages (from openmim<0.4.0,>=0.3.7->autogluon.multimodal==0.8.0->autogluon) (13.3.4)
Requirement already satisfied: tabulate in /usr/local/lib/python3.10/dist-packages (from openmim<0.4.0,>=0.3.7->autogluon.multimodal==0.8.0->autogluon) (0.8.10)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas<1.6,>=1.4.1->autogluon.core[all]==0.8.0->autogluon) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<1.6,>=1.4.1->autogluon.core[all]==0.8.0->autogluon) (2022.7.1)
Collecting lightning-utilities>=0.6.0.post0 (from pytorch-lightning<1.10.0,>=1.9.0->autogluon.multimodal==0.8.0->autogluon)
  Downloading lightning_utilities-0.8.0-py3-none-any.whl (20 kB)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from ray[tune]<2.4,>=2.3->autogluon.core[all]==0.8.0->autogluon) (3.12.0)
Requirement already satisfied: msgpack<2.0.0,>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ray[tune]<2.4,>=2.3->autogluon.core[all]==0.8.0->autogluon) (1.0.5)
Requirement already satisfied: protobuf!=3.19.5,>=3.15.3 in /usr/local/lib/python3.10/dist-packages (from ray[tune]<2.4,>=2.3->autogluon.core[all]==0.8.0->autogluon) (3.20.3)
Collecting aiosignal (from ray[tune]<2.4,>=2.3->autogluon.core[all]==0.8.0->autogluon)
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Collecting frozenlist (from ray[tune]<2.4,>=2.3->autogluon.core[all]==0.8.0->autogluon)
  Downloading frozenlist-1.3.3-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (149 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 149.6/149.6 kB 17.0 MB/s eta 0:00:00
Collecting virtualenv>=20.0.24 (from ray[tune]<2.4,>=2.3->autogluon.core[all]==0.8.0->autogluon)
  Downloading virtualenv-20.23.1-py3-none-any.whl (3.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 100.6 MB/s eta 0:00:00
Requirement already satisfied: grpcio>=1.42.0 in /usr/local/lib/python3.10/dist-packages (from ray[tune]<2.4,>=2.3->autogluon.core[all]==0.8.0->autogluon) (1.54.0)
Collecting aiohttp>=3.7 (from ray[tune]<2.4,>=2.3->autogluon.core[all]==0.8.0->autogluon)

In [3]:
from autogluon.tabular import TabularDataset, TabularPredictor

In [4]:
import pandas as pd
import numpy as np
import random
import os

In [30]:
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)

seed_everything(4242)

In [31]:
path='/content/drive/MyDrive/데이콘 Basic 자동차 가격 예측 AI 경진대회/'
train = pd.read_csv(path+'train.csv')
test = pd.read_csv(path+'test.csv')

# 데이터를 확인하기 위해 head() 함수를 사용합니다.
train.head(5)

,ID,생산년도,모델출시년도,브랜드,차량모델명,판매도시,판매구역,주행거리,배기량,압축천연가스(CNG),경유,가솔린,하이브리드,액화석유가스(LPG),가격
0,TRAIN_00000,2018,2014,skoda,fabia,KAT,SLA,85231,999,0,0,1,0,0,51.74
1,TRAIN_00001,2010,2006,toyota,auris,RKO,SWI,135000,1598,0,0,1,0,0,41.47
2,TRAIN_00002,2002,2002,mercedes-benz,clk-klasa,GNI,WIE,255223,1796,0,0,1,0,0,17.81
3,TRAIN_00003,2006,2001,nissan,x-trail,EHX,WIE,238000,2184,0,1,0,0,0,18.20
4,TRAIN_00004,2007,2007,fiat,bravo,OSW,MAL,251000,1910,0,1,0,0,0,17.55

In [32]:
train.describe(include='all')

,ID,생산년도,모델출시년도,브랜드,차량모델명,판매도시,판매구역,주행거리,배기량,압축천연가스(CNG),경유,가솔린,하이브리드,액화석유가스(LPG),가격
count,57920,57920.000000,57920.000000,57920,57920,57920,57920,5.792000e+04,57920.000000,57920.000000,57920.000000,57920.000000,57920.000000,57920.000000,57920.000000
unique,57920,NaN,NaN,20,143,3224,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,TRAIN_00000,NaN,NaN,opel,astra,WAR,MAZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,6651,2537,3245,10846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2011.355352,2008.033408,NaN,NaN,NaN,NaN,1.678691e+05,1788.160135,0.000483,0.425242,0.517956,0.010290,0.046029,52.211752
std,NaN,5.174108,5.087963,NaN,NaN,NaN,NaN,8.319120e+04,545.413818,0.021982,0.494384,0.499682,0.100918,0.209550,35.399718
min,NaN,1978.000000,1983.000000,NaN,NaN,NaN,NaN,1.000000e+00,875.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.170000
25%,NaN,2008.000000,2004.000000,NaN,NaN,NaN,NaN,1.114345e+05,1461.000000,0.000000,0.000000,0.000000,0.000000,0.000000,24.570000
50%,NaN,2011.000000,2008.000000,NaN,NaN,NaN,NaN,1.710000e+05,1753.000000,0.000000,0.000000,1.000000,0.000000,0.000000,42.250000
75%,NaN,2016.000000,2012.000000,NaN,NaN,NaN,NaN,2.200000e+05,1995.000000,0.000000,1.000000,1.000000,0.000000,0.000000,73.970000
max,NaN,2022.000000,2021.000000,NaN,NaN,NaN,NaN,2.500000e+06,6300.000000,1.000000,1.000000,1.000000,1.000000,1.000000,156.000000

In [33]:
test.describe(include='all')

,ID,생산년도,모델출시년도,브랜드,차량모델명,판매도시,판매구역,주행거리,배기량,압축천연가스(CNG),경유,가솔린,하이브리드,액화석유가스(LPG)
count,14480,14480.000000,14480.000000,14480,14480,14480,14480,14480.000000,14480.000000,14480.000000,14480.000000,14480.000000,14480.000000,14480.000000
unique,14480,NaN,NaN,20,141,1774,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,TEST_00000,NaN,NaN,opel,astra,WAR,MAZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,1637,645,819,2707,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2011.345580,2008.031768,NaN,NaN,NaN,NaN,167044.997583,1786.886050,0.000622,0.424655,0.520994,0.010221,0.043508
std,NaN,5.213361,5.153701,NaN,NaN,NaN,NaN,82121.611500,550.501934,0.024924,0.494308,0.499576,0.100584,0.204005
min,NaN,1985.000000,1983.000000,NaN,NaN,NaN,NaN,1.000000,875.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,2008.000000,2004.000000,NaN,NaN,NaN,NaN,110722.500000,1461.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,2011.000000,2008.000000,NaN,NaN,NaN,NaN,170000.000000,1749.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,NaN,2016.000000,2012.000000,NaN,NaN,NaN,NaN,220000.000000,1995.000000,0.000000,1.000000,1.000000,0.000000,0.000000
max,NaN,2022.000000,2021.000000,NaN,NaN,NaN,NaN,999999.000000,6208.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [34]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57920 entries, 0 to 57919
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           57920 non-null  object
 1   생산년도         57920 non-null  int64
 2   모델출시년도       57920 non-null  int64
 3   브랜드          57920 non-null  object
 4   차량모델명        57920 non-null  object
 5   판매도시         57920 non-null  object
 6   판매구역         57920 non-null  object
 7   주행거리         57920 non-null  int64
 8   배기량          57920 non-null  int64
 9   압축천연가스(CNG)  57920 non-null  int64
 10  경유           57920 non-null  int64
 11  가솔린          57920 non-null  int64
 12  하이브리드        57920 non-null  int64
 13  액화석유가스(LPG)  57920 non-null  int64
 14  가격           57920 non-null  float64
dtypes: float64(1), int64(9), object(5)
memory usage: 6.6+ MB

In [35]:
columns_to_convert = ['압축천연가스(CNG)', '경유', '가솔린', '하이브리드', '액화석유가스(LPG)']

for column in columns_to_convert:
    train[column] = train[column].astype(bool)
    test[column] = test[column].astype(bool)

In [36]:
columns_to_convert = ['생산년도', '모델출시년도', '배기량', '주행거리']

for column in columns_to_convert:
    train[column] = train[column].astype('int32')
    test[column] = test[column].astype('int32')

In [37]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57920 entries, 0 to 57919
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           57920 non-null  object
 1   생산년도         57920 non-null  int32
 2   모델출시년도       57920 non-null  int32
 3   브랜드          57920 non-null  object
 4   차량모델명        57920 non-null  object
 5   판매도시         57920 non-null  object
 6   판매구역         57920 non-null  object
 7   주행거리         57920 non-null  int32
 8   배기량          57920 non-null  int32
 9   압축천연가스(CNG)  57920 non-null  bool
 10  경유           57920 non-null  bool
 11  가솔린          57920 non-null  bool
 12  하이브리드        57920 non-null  bool
 13  액화석유가스(LPG)  57920 non-null  bool
 14  가격           57920 non-null  float64
dtypes: bool(5), float64(1), int32(4), object(5)
memory usage: 3.8+ MB

In [38]:
# !pip install pandas_profiling

In [39]:
# from pandas_profiling import ProfileReport


# # pandas-profiling 보고서 생성
# profile = ProfileReport(train, title='Pandas Profiling Report', minimal=True)
# profile.to_file(output_file=path+"output.html")
# profile

In [40]:
# '판매도시' 컬럼의 유니크한 값들을 추출합니다.
unique_train_cities = train['판매도시'].unique()
unique_test_cities = test['판매도시'].unique()

# test 데이터셋에는 있지만, train 데이터셋에는 없는 도시를 찾습니다.
only_in_test = set(unique_test_cities) - set(unique_train_cities)

# 결과를 출력합니다.
print(only_in_test)
print("Len city", len(only_in_test))
test['판매도시'] = test['판매도시'].apply(lambda x: 'trash' if x in only_in_test else x)

{'UUS', 'FJJ', 'TAY', 'MDM', 'KIJ', 'HJS', 'DVL', 'KYJ', 'PRH', 'PCK', 'EMA', 'RTD', 'JWT', 'WAM', 'UPQ', 'OYR', 'OZB', 'PMV', 'OQD', 'WYK', 'KVY', 'ZLI', 'GGD', 'GHS', 'XXD', 'CIC', 'UOX', 'VJB', 'SBE', 'SCD', 'FWN', 'VOF', 'GID', 'TLO', 'SSR', 'OEB', 'JRT', 'LVY', 'NDR', 'QGH', 'GTX', 'SML', 'UOG', 'RRL', 'PGA', 'QCZ', 'ZGY', 'EGI', 'UMG', 'HNM', 'TTI', 'DEU', 'YIZ', 'AXK', 'ESZ', 'CRQ', 'UUH', 'UEL', 'HSS', 'IBZ', 'GLE', 'XZX', 'VCG', 'MPL', 'MDY', 'JUQ', 'RXJ', 'QMB', 'VST', 'ZGZ', 'SJB', 'GXE', 'HKG', 'KRU', 'WYU', 'NQG', 'VHY', 'CIO', 'FHH', 'MGJ', 'QFT', 'KBS', 'PJN', 'GTC', 'IOV', 'JQC', 'GNA', 'FGG', 'KCZ', 'KPG', 'HGL', 'UMV', 'XEE', 'UIU', 'RYI', 'VJM', 'QMP', 'DYA', 'DJC', 'SUG', 'GUT', 'SCK', 'WZD', 'ZLA', 'ZYG', 'JDD', 'SCA', 'BRV', 'TUS', 'NPU', 'PUN', 'YVP', 'WSZ', 'MNU', 'NPC', 'XRP', 'DZP', 'GWR', 'BSR', 'KUL', 'OWU', 'JXM', 'OXM', 'HAD', 'DRR', 'JAC', 'DRL', 'WTK', 'GRZ', 'UEC', 'ZPO', 'PEJ', 'DDM', 'MWU', 'HER', 'TJO', 'UEB', 'KOO', 'DWT', 'OPB', 'EFN', 'PJA', 'WYG', 'LPQ', 'SKT', 'ZXL', 'ZNE', 'TAZ', 'FQH', 'VQI', 'SUN', 'CGP', 'XXY', 'VHU', 'OIH', 'HNF', 'JUN', 'LIU', 'ZAL', 'TRF', 'QBI', 'VTJ', 'SMI', 'JWM', 'WYC', 'CJS', 'YHC', 'IOP', 'CGW', 'DYM', 'CPE', 'ZCS', 'LBE', 'VAO', 'HUT', 'ICR', 'SER', 'IBP', 'PMY', 'RRO', 'MIG', 'ZVM', 'VCO', 'XLK', 'KIT', 'LYY', 'YGQ', 'SZQ', 'SUA', 'IPH', 'AJB', 'OHA', 'AJM', 'RWV', 'CXX', 'LMB', 'AGG', 'DFK', 'EBB', 'QEP', 'BOI', 'AAI', 'WAV', 'DLE', 'PRE', 'GOW', 'QTF', 'BJC', 'RVI', 'HXT', 'MCP', 'SZK', 'RAT', 'HFW', 'YOX', 'YAZ', 'RXL', 'PYX', 'UTA', 'RZA', 'RJJ', 'JFI', 'OTY', 'LNS', 'VWV', 'UPX', 'MAT', 'TKJ', 'KXQ', 'YBJ', 'GCJ', 'KDV', 'WQO', 'MAU', 'JYK', 'SFW', 'XHS', 'PRK', 'ZZF', 'CQU', 'NTM', 'ZOH', 'JND', 'UKW', 'PKN', 'PEG', 'REK', 'ZRL', 'TXI', 'SNN', 'MED', 'CLJ', 'LML', 'LOH', 'AZD', 'OIA', 'SED', 'TWU', 'KXU', 'JUT', 'ZTU', 'SEK', 'CLC', 'MMA', 'YXB', 'POW', 'KNB', 'PYU', 'NBX', 'FWF', 'GLG', 'VRB', 'POB', 'GDT', 'DJV', 'MWZ', 'WDM', 'TQT', 'CLR', 'PTN', 'SXA', 'UNL', 'PHZ', 'TYS', 'SIT', 'KRJ', 'CWP', 'ZJJ', 'OME', 'POS', 'UCW', 'HEZ', 'CQS', 'LIA', 'ETF', 'MGV', 'MOM', 'TFZ', 'PGF', 'TGG'}
Len city 300

In [41]:
# train 데이터셋에서 '판매도시' 컬럼의 값들을 세어 출력합니다.
print("In train dataset:")
print(train['판매도시'].value_counts())

# test 데이터셋에서 '판매도시' 컬럼의 값들을 세어 출력합니다.
print("\nIn test dataset:")
print(test['판매도시'].value_counts())

In train dataset:
WAR    3245
KRA    1241
WRO    1166
LOD    1141
POZ     987
       ...
MVH       1
CIB       1
CED       1
FNQ       1
ZDZ       1
Name: 판매도시, Length: 3224, dtype: int64

In test dataset:
WAR      819
trash    324
LOD      322
WRO      319
KRA      293
        ...
TCN        1
BPN        1
ZAD        1
CNQ        1
BOJ        1
Name: 판매도시, Length: 1475, dtype: int64

In [42]:
# train 데이터셋에서 '판매도시'의 각 값의 등장 횟수를 계산합니다.
city_counts = train['판매도시'].value_counts()

# 등장 횟수가 100 미만인 값들을 찾아 'trash'로 변경합니다.
train['판매도시'] = train['판매도시'].apply(lambda x: 'trash' if city_counts[x] < 5 else x)

test['판매도시'] = test['판매도시'].apply(lambda x: 'trash' if x == 'trash' or city_counts[x] < 5 else x)

In [43]:
# train 데이터셋에서 '판매도시' 컬럼의 값들을 세어 출력합니다.
print("In train dataset:")
print(train['판매도시'].value_counts())

# test 데이터셋에서 '판매도시' 컬럼의 값들을 세어 출력합니다.
print("\nIn test dataset:")
print(test['판매도시'].value_counts())

In train dataset:
trash    3509
WAR      3245
KRA      1241
WRO      1166
LOD      1141
         ...
OFN         5
LUD         5
BNQ         5
OKP         5
WBC         5
Name: 판매도시, Length: 1101, dtype: int64

In test dataset:
trash    970
WAR      819
LOD      322
WRO      319
KRA      293
        ...
WIA        1
WRE        1
VZI        1
XYP        1
LAD        1
Name: 판매도시, Length: 967, dtype: int64

In [44]:
# '판매도시' 컬럼의 유니크한 값들을 추출합니다.
unique_train_cities = train['판매도시'].unique()
unique_test_cities = test['판매도시'].unique()

# test 데이터셋에는 있지만, train 데이터셋에는 없는 도시를 찾습니다.
only_in_test = set(unique_test_cities) - set(unique_train_cities)

# 결과를 출력합니다.
print(only_in_test)
print("Len city", len(only_in_test))

set()
Len city 0

In [45]:
# 전체 '가격'의 평균을 계산합니다.
mean_price = train['가격'].mean()

# 각 '판매도시'의 '가격' 평균을 계산합니다.
city_mean_prices = train.groupby('판매도시')['가격'].mean()

# '판매도시'의 '가격' 평균과 전체 '가격'의 평균과의 차이를 계산하여 새로운 컬럼을 만듭니다.
train['del_mean'] = train['판매도시'].apply(lambda x: city_mean_prices[x] - mean_price)
# train 데이터에서 계산한 각 '판매도시'의 '가격' 평균을 test 데이터에 적용합니다.
test['del_mean'] = test['판매도시'].apply(lambda x: city_mean_prices[x] - mean_price if x in city_mean_prices else mean_price)

In [46]:
# 전체 '가격'의 표준편차를 계산합니다.
std_price = train['가격'].std()

# 각 '판매도시'의 '가격' 표준편차를 계산합니다.
city_std_prices = train.groupby('판매도시')['가격'].std()

# '판매도시'의 '가격' 표준편차와 전체 '가격'의 표준편차와의 차이를 계산하여 새로운 컬럼을 만듭니다.
train['del_std'] = train['판매도시'].apply(lambda x: city_std_prices[x])

# train 데이터에서 계산한 각 '판매도시'의 '가격' 표준편차를 test 데이터에 적용합니다.
# 판매도시 값이 train 데이터에 없는 경우, 전체 '가격'의 표준편차를 적용합니다.
test['del_std'] = test['판매도시'].apply(lambda x: city_std_prices[x] if x in city_std_prices else std_price)

In [47]:
train['주행거리']=1/train['주행거리']
test['주행거리']=1/(test['주행거리'])
# train['주행거리']=np.sqrt(train['주행거리'])
# test['주행거리']=np.sqrt(test['주행거리'])
train['del_year']=(train['생산년도']-train['모델출시년도'])
test['del_year']=(test['생산년도']-test['모델출시년도'])
# train['alpha']=(train['생산년도']-train['모델출시년도'])*np.sqrt(train['주행거리'])
# test['alpha']=(test['생산년도']-test['모델출시년도'])*np.sqrt(test['주행거리'])

In [48]:
wrong_year = train[train['생산년도'] < train['모델출시년도']]
wrong_year

,ID,생산년도,모델출시년도,브랜드,차량모델명,판매도시,판매구역,주행거리,배기량,압축천연가스(CNG),경유,가솔린,하이브리드,액화석유가스(LPG),가격,del_mean,del_std,del_year
1048,TRAIN_01048,2015,2016,renault,megane,ROG,SLA,0.000009,1618,False,False,True,False,False,80.34,0.141105,23.035290,-1
1175,TRAIN_01175,2007,2014,ford,mondeo,ZYW,OPO,0.000004,1997,False,True,False,False,False,20.02,0.977887,27.486165,-7
1366,TRAIN_01366,2006,2015,ford,galaxy,PIA,MAZ,0.000005,1997,False,True,False,False,False,22.10,11.774382,31.683787,-9
1857,TRAIN_01857,2005,2007,mitsubishi,lancer,GDA,POM,0.000007,1997,False,False,True,False,False,5.46,13.833109,39.293850,-2
2369,TRAIN_02369,2009,2010,ford,focus,BAN,POM,0.000005,1596,False,False,True,False,False,24.57,-16.699837,25.701329,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56816,TRAIN_56816,2015,2017,volvo,xc-60,TOR,KUJ,0.000007,2400,False,True,False,False,False,142.87,19.171115,40.043030,-2
57028,TRAIN_57028,1992,1993,mercedes-benz,e-klasa,trash,WIE,0.000014,4196,False,False,True,False,False,139.10,-9.129948,31.034091,-1
57357,TRAIN_57357,2007,2008,honda,jazz,KRA,MAL,0.000007,1246,False,False,True,False,False,20.80,2.647918,35.667472,-1
57445,TRAIN_57445,2008,2009,mercedes-benz,e-klasa,OLS,WAR,0.000005,2143,False,True,False,False,False,60.97,3.210893,37.026790,-1
57756,TRAIN_57756,2014,2015,skoda,superb,CZE,SLA,0.000006,1968,False,True,False,False,False,70.07,-8.283130,32.032705,-1

In [49]:
train.describe(include='all')

,ID,생산년도,모델출시년도,브랜드,차량모델명,판매도시,판매구역,주행거리,배기량,압축천연가스(CNG),경유,가솔린,하이브리드,액화석유가스(LPG),가격,del_mean,del_std,del_year
count,57920,57920.000000,57920.000000,57920,57920,57920,57920,5.792000e+04,57920.000000,57920,57920,57920,57920,57920,57920.000000,5.792000e+04,57920.000000,57920.000000
unique,57920,NaN,NaN,20,143,1101,17,NaN,NaN,2,2,2,2,2,NaN,NaN,NaN,NaN
top,TRAIN_00000,NaN,NaN,opel,astra,trash,MAZ,NaN,NaN,False,False,True,False,False,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,6651,2537,3509,10846,NaN,NaN,57892,33290,30000,57324,55254,NaN,NaN,NaN,NaN
mean,NaN,2011.355352,2008.033408,NaN,NaN,NaN,NaN,1.013706e-02,1788.160135,NaN,NaN,NaN,NaN,NaN,52.211752,-3.879033e-15,32.083947,3.321944
std,NaN,5.174108,5.087963,NaN,NaN,NaN,NaN,9.063213e-02,545.413818,NaN,NaN,NaN,NaN,NaN,35.399718,1.361411e+01,7.424134,2.305010
min,NaN,1978.000000,1983.000000,NaN,NaN,NaN,NaN,4.000000e-07,875.000000,NaN,NaN,NaN,NaN,NaN,1.170000,-4.391775e+01,2.333491,-26.000000
25%,NaN,2008.000000,2004.000000,NaN,NaN,NaN,NaN,4.545455e-06,1461.000000,NaN,NaN,NaN,NaN,NaN,24.570000,-9.129948e+00,27.985606,1.000000
50%,NaN,2011.000000,2008.000000,NaN,NaN,NaN,NaN,5.847953e-06,1753.000000,NaN,NaN,NaN,NaN,NaN,42.250000,-1.004014e+00,33.356996,3.000000
75%,NaN,2016.000000,2012.000000,NaN,NaN,NaN,NaN,8.973882e-06,1995.000000,NaN,NaN,NaN,NaN,NaN,73.970000,1.106866e+01,37.797438,5.000000
max,NaN,2022.000000,2021.000000,NaN,NaN,NaN,NaN,1.000000e+00,6300.000000,NaN,NaN,NaN,NaN,NaN,156.000000,6.812525e+01,71.762761,22.000000

In [50]:
test.describe(include='all')

,ID,생산년도,모델출시년도,브랜드,차량모델명,판매도시,판매구역,주행거리,배기량,압축천연가스(CNG),경유,가솔린,하이브리드,액화석유가스(LPG),del_mean,del_std,del_year
count,14480,14480.000000,14480.000000,14480,14480,14480,14480,14480.000000,14480.000000,14480,14480,14480,14480,14480,14480.000000,14480.000000,14480.000000
unique,14480,NaN,NaN,20,141,967,17,NaN,NaN,2,2,2,2,2,NaN,NaN,NaN
top,TEST_00000,NaN,NaN,opel,astra,trash,MAZ,NaN,NaN,False,False,True,False,False,NaN,NaN,NaN
freq,1,NaN,NaN,1637,645,970,2707,NaN,NaN,14471,8331,7544,14332,13850,NaN,NaN,NaN
mean,NaN,2011.345580,2008.031768,NaN,NaN,NaN,NaN,0.008960,1786.886050,NaN,NaN,NaN,NaN,NaN,0.090707,32.140081,3.313812
std,NaN,5.213361,5.153701,NaN,NaN,NaN,NaN,0.084451,550.501934,NaN,NaN,NaN,NaN,NaN,13.547570,7.284329,2.303003
min,NaN,1985.000000,1983.000000,NaN,NaN,NaN,NaN,0.000001,875.000000,NaN,NaN,NaN,NaN,NaN,-43.917752,2.333491,-9.000000
25%,NaN,2008.000000,2004.000000,NaN,NaN,NaN,NaN,0.000005,1461.000000,NaN,NaN,NaN,NaN,NaN,-9.129948,27.985606,1.000000
50%,NaN,2011.000000,2008.000000,NaN,NaN,NaN,NaN,0.000006,1749.000000,NaN,NaN,NaN,NaN,NaN,-1.004014,33.356996,3.000000
75%,NaN,2016.000000,2012.000000,NaN,NaN,NaN,NaN,0.000009,1995.000000,NaN,NaN,NaN,NaN,NaN,11.068660,37.797438,5.000000
max,NaN,2022.000000,2021.000000,NaN,NaN,NaN,NaN,1.000000,6208.000000,NaN,NaN,NaN,NaN,NaN,68.125248,71.762761,22.000000

In [51]:
train=train.drop("ID",axis=1)
test=test.drop("ID",axis=1)
train=train.drop("판매도시",axis=1)
test=test.drop("판매도시",axis=1)

In [52]:
train = TabularDataset(train)
test = TabularDataset(test)

In [53]:
test.describe()

,생산년도,모델출시년도,주행거리,배기량,del_mean,del_std,del_year
count,14480.000000,14480.000000,14480.000000,14480.000000,14480.000000,14480.000000,14480.000000
mean,2011.345580,2008.031768,0.008960,1786.886050,0.090707,32.140081,3.313812
std,5.213361,5.153701,0.084451,550.501934,13.547570,7.284329,2.303003
min,1985.000000,1983.000000,0.000001,875.000000,-43.917752,2.333491,-9.000000
25%,2008.000000,2004.000000,0.000005,1461.000000,-9.129948,27.985606,1.000000
50%,2011.000000,2008.000000,0.000006,1749.000000,-1.004014,33.356996,3.000000
75%,2016.000000,2012.000000,0.000009,1995.000000,11.068660,37.797438,5.000000
max,2022.000000,2021.000000,1.000000,6208.000000,68.125248,71.762761,22.000000

In [54]:
# predictor = TabularPredictor(label='가격', problem_type='regression',
#                              eval_metric='mean_absolute_error',sample_weight='balance_weight').fit(train,presets="best_quality",
#                                                                     auto_stack=True,save_space=True,
#                                                                     num_stack_levels=2, num_bag_folds=2,num_bag_sets=4,time_limit=20000)

predictor = TabularPredictor(label='가격', problem_type='regression',
                             eval_metric='mean_absolute_error',sample_weight='balance_weight').fit(train, save_space=True, time_limit=3600*3)

# predictor = TabularPredictor(label='가격', problem_type='regression',
#                              eval_metric='mean_absolute_error',sample_weight='balance_weight').fit(train,presets='good_quality', save_space=True, num_stack_levels=1, num_bag_folds=3,num_bag_sets=5, time_limit=3600*3)

# predictor = TabularPredictor(label='가격', problem_type='regression',
#                              eval_metric='mean_absolute_error',sample_weight='balance_weight').fit(train,presets='good_quality', save_space=True, time_limit=3600*3)

No path specified. Models will be saved in: "AutogluonModels/ag-20230619_171439/"
Using predefined sample weighting strategy: balance_weight. Evaluation metrics will ignore sample weights, specify weight_evaluation=True to instead report weighted metrics.
Beginning AutoGluon training ... Time limit = 10800s
AutoGluon will save models to "AutogluonModels/ag-20230619_171439/"
AutoGluon Version:  0.8.0
Python Version:     3.10.12
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #1 SMP Sat Apr 29 09:15:28 UTC 2023
Disk Space Avail:   82.93 GB / 115.66 GB (71.7%)
Train Data Rows:    57920
Train Data Columns: 15
Label Column: 가격
Preprocessing data ...
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    11322.77 MB
	Train Data (Original)  Memory Usage: 13.31 MB (0.1% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
			Note: Converting 5 features to boolean dtype as they only contain 2 unique values.
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Stage 5 Generators:
		Fitting DropDuplicatesFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('bool', [])   : 5 | ['압축천연가스(CNG)', '경유', '가솔린', '하이브리드', '액화석유가스(LPG)']
		('float', [])  : 3 | ['주행거리', 'del_mean', 'del_std']
		('int', [])    : 4 | ['생산년도', '모델출시년도', '배기량', 'del_year']
		('object', []) : 3 | ['브랜드', '차량모델명', '판매구역']
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])  : 3 | ['브랜드', '차량모델명', '판매구역']
		('float', [])     : 3 | ['주행거리', 'del_mean', 'del_std']
		('int', [])       : 4 | ['생산년도', '모델출시년도', '배기량', 'del_year']
		('int', ['bool']) : 5 | ['압축천연가스(CNG)', '경유', '가솔린', '하이브리드', '액화석유가스(LPG)']
	0.5s = Fit runtime
	15 features in original data used to generate 15 features in processed data.
	Train Data (Processed) Memory Usage: 2.84 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 0.5s ...
AutoGluon will gauge predictive performance using evaluation metric: 'mean_absolute_error'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
	To change this, specify the eval_metric parameter of Predictor()
Automatically generating train/validation split with holdout_frac=0.043162983425414365, Train Rows: 55420, Val Rows: 2500
User-specified model hyperparameters to be fit:
{
	'NN_TORCH': {},
	'GBM': [{'extra_trees': True, 'ag_args': {'name_suffix': 'XT'}}, {}, 'GBMLarge'],
	'CAT': {},
	'XGB': {},
	'FASTAI': {},
	'RF': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'XT': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'KNN': [{'weights': 'uniform', 'ag_args': {'name_suffix': 'Unif'}}, {'weights': 'distance', 'ag_args': {'name_suffix': 'Dist'}}],
}
Fitting 11 L1 models ...
Fitting model: KNeighborsUnif ... Training model for up to 10799.5s of the 10799.49s of remaining time.
	-9.6838	 = Validation score   (-mean_absolute_error)
	0.2s	 = Training   runtime
	0.1s	 = Validation runtime
Fitting model: KNeighborsDist ... Training model for up to 10799.18s of the 10799.17s of remaining time.
	-9.4645	 = Validation score   (-mean_absolute_error)
	0.2s	 = Training   runtime
	0.09s	 = Validation runtime
Fitting model: LightGBMXT ... Training model for up to 10798.87s of the 10798.86s of remaining time.

[1000]	valid_set's l1: 5.82349
[2000]	valid_set's l1: 5.78846
[3000]	valid_set's l1: 5.78043

	-5.7753	 = Validation score   (-mean_absolute_error)
	18.19s	 = Training   runtime
	1.1s	 = Validation runtime
Fitting model: LightGBM ... Training model for up to 10779.01s of the 10779.0s of remaining time.

[1000]	valid_set's l1: 5.74409
[2000]	valid_set's l1: 5.67722
[3000]	valid_set's l1: 5.68323

	-5.6638	 = Validation score   (-mean_absolute_error)
	16.24s	 = Training   runtime
	0.67s	 = Validation runtime
Fitting model: RandomForestMSE ... Training model for up to 10761.61s of the 10761.6s of remaining time.
	-6.0781	 = Validation score   (-mean_absolute_error)
	101.81s	 = Training   runtime
	0.57s	 = Validation runtime
Fitting model: CatBoost ... Training model for up to 10652.65s of the 10652.64s of remaining time.
	-5.7462	 = Validation score   (-mean_absolute_error)
	818.5s	 = Training   runtime
	0.36s	 = Validation runtime
Fitting model: ExtraTreesMSE ... Training model for up to 9833.48s of the 9833.47s of remaining time.
	-6.024	 = Validation score   (-mean_absolute_error)
	39.21s	 = Training   runtime
	0.56s	 = Validation runtime
Fitting model: NeuralNetFastAI ... Training model for up to 9788.91s of the 9788.91s of remaining time.
	-6.6018	 = Validation score   (-mean_absolute_error)
	99.94s	 = Training   runtime
	0.07s	 = Validation runtime
Fitting model: XGBoost ... Training model for up to 9688.83s of the 9688.82s of remaining time.
	-5.7486	 = Validation score   (-mean_absolute_error)
	116.64s	 = Training   runtime
	0.94s	 = Validation runtime
Fitting model: NeuralNetTorch ... Training model for up to 9571.16s of the 9571.15s of remaining time.
	-6.0593	 = Validation score   (-mean_absolute_error)
	144.25s	 = Training   runtime
	0.03s	 = Validation runtime
Fitting model: LightGBMLarge ... Training model for up to 9426.87s of the 9426.86s of remaining time.

[1000]	valid_set's l1: 5.61797

	-5.5845	 = Validation score   (-mean_absolute_error)
	18.22s	 = Training   runtime
	0.82s	 = Validation runtime
Fitting model: WeightedEnsemble_L2 ... Training model for up to 1079.95s of the 9406.76s of remaining time.
	-5.4742	 = Validation score   (-mean_absolute_error)
	0.44s	 = Training   runtime
	0.0s	 = Validation runtime
AutoGluon training complete, total runtime = 1393.76s ... Best model: "WeightedEnsemble_L2"
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("AutogluonModels/ag-20230619_171439/")

In [55]:
preds = predictor.predict(test)

In [56]:
submit = pd.read_csv(path+'sample_submission.csv')
submit['가격']=preds
submit.to_csv(path+'submission_7.csv', index=False)

In [57]:
preds=preds.round(2)

In [58]:
submit = pd.read_csv(path+'sample_submission.csv')
submit['가격']=preds
submit.to_csv(path+'submission_round_7.csv', index=False)